/* CSS for the phone app simulation at the start. */
.PhoneApp.text {
    /* A nice tiny font. */
    text-align: center;
    position: absolute;
    font-family: Pokemon;
    font-size: 6px;
    width: 55px;
    user-select: none;
}
