@font-face {
  font-family: "Pokemon";
  src: url(./fonts/Pokemon.woff) format('woff');
}

.Viewport {
  margin: 0px auto;
  transform-origin: top left;
  overflow: hidden;
  z-index: -15;
}

.Scene {
  background-color: #c4eee0;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -14;
}

.Sprite {
  position: absolute;
}

.invisible {
  color: transparent;
}
